fastapi>=0.115.0
uvicorn>=0.34.0
statsmodels>=0.14.0
pandas>=2.2.0
pymcdm>=1.2.0
numpy>=1.26.0
aiosqlite>=0.20.0
requests>=2.31.0
sqlmodel>=0.0.16
python-jose[cryptography]>=3.3.0
argon2-cffi>=23.1.0
passlib[argon2]>=1.7.4
python-multipart>=0.0.6
